@model packagesentinel.Models.Item

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome ! You visited at  @Model.Name</h1>
    <br />

    <p><a class="btn btn-primary" href="/swagger">Swagger</a></p>
    <img src="~/images/PackageSentinel.jpg" />
</div>
